header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  color: #030303;
}

button {
  background: transparent;
  border: 0;
}

.logo {
  height: 20px;
  padding: 18px 14px 18px 16px;
  width: 90px;
}

.icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.search-bar {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr 64px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  width: 525px;
  padding: 2px 6px;
  font-size: 16px;
}

.search-bar .search {
  background-color: #f8f8f8;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding: 8px 0;
  width: 64px;
}

.search-bar .search .search-icon {
  margin: 0 auto;
  padding: 0;
}

.search-bar .search:hover {
  background-color: #f0f0f0;
}

.user-menu img {
  height: 32px;
  border-radius: 100%;
  width: 32px;
}

.mic {
  background-color: #f8f8f8;
  border-radius: 100%;
}

.column-start {
  display: flex;
  align-items: center;
}

.column-center {
  display: flex;
  width: 728px;
  align-items: center;
}

.column-end {
  display: flex;
  align-items: center;
}

.home-icon {
  border-right: 240px transparent #000;
}

.create-video,
.notifications {
  margin-right: 8px;
}

.sidebar-link {
  display: flex;
  text-decoration: none;
  color: #030303;
  align-items: center;
}

.filter-selector {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  height: 32px;
  padding: 0px 12px;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
}

.filter-selector:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-selector--active {
  background-color: #030303;
  border-color: #030303;
  color: #fff;
}

.filterbar {
  position: fixed;
  background-color: #fff;
  top: 56px;
  left: 240px;
  height: 56px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
}

.sidebar {
  top: 56px;
  position: absolute;
  width: 240px;
  z-index: 1;
}

.sidebar-inner {
  min-height: 100%;
  overflow-y: scroll;
}

.content {
  margin-top: 112px;
  margin-left: 240px;
}

.filter-selector p {
  white-space: nowrap;
}
